body {
background-image: linear-gradient(red, black);
height: 100vh;

}
h1, p {
    color: white;
    font-family: 'Cinzel', siref;
    text-shadow: 2px 4px 8px rgb(7, 7, 7);
    text-align: center;
}
#oscar{
    margin: auto;
    display: block;
}
#emmy{
    margin: auto;
    display: block;
}